<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.js"></script>
    <link href="demo/vsscrollbar.css" rel="stylesheet" type="text/css">
    <script src="demo/vsscrollbar-0.1.3.min.js"></script>

    <link rel="stylesheet" type="text/css" href="demo/sampleapp.css">
    <script src="demo/sampleapp.js"></script>

    <a href="https://github.com/kekeh/vsscrollbar"><img style="position: absolute; top: 0; right: 0; border: 0;"
                                                        src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67"
                                                        alt="Fork me on GitHub"
                                                        data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>

    <title>vsscrollbar by kekeh</title>
</head>

<body ng-app="vssampleapp" ng-controller="vsScrollbarCtrl">
<header>
    <div class="inner">
        <h1>vsscrollbar</h1>

        <h2>Virtual scroll with filtering and custom scrollbar - AngularJS reusable UI component</h2>
        <a href="https://github.com/kekeh/vsscrollbar" class="button">
            <small>View project on</small>
            GitHub</a>
    </div>
</header>

<div id="content-wrapper">
    <div class="inner clearfix">
        <section id="main-content">
            <h1>
                <a id="vsscrollbar" class="anchor" href="#vsscrollbar" aria-hidden="true"><span
                        class="octicon octicon-link"></span></a>vsscrollbar</h1>

            <p><strong>Virtual scroll with filtering and custom scrollbar - AngularJS reusable UI component</strong></p>

            <h2>
                <a id="description" class="anchor" href="#description" aria-hidden="true"><span
                        class="octicon octicon-link"></span></a>Description</h2>

            <p>AngularJS directive which implements the virtual scroll, filtering of the items and the customizable
                scrollbar</p>

            <h3>
                <a id="1-virtual-scroll" class="anchor" href="#1-virtual-scroll" aria-hidden="true"><span
                        class="octicon octicon-link"></span></a>1. virtual scroll</h3>

            <ul>
                <li>good performance even millions of the items in the list</li>
                <li>only visible items are rendered in the browser</li>
            </ul>

            <h3>
                <a id="2-filtering" class="anchor" href="#2-filtering" aria-hidden="true"><span
                        class="octicon octicon-link"></span></a>2. filtering</h3>

            <ul>
                <li>if scrollbar items are array of strings - filtering by string value</li>
                <li>if scrollbar items are array of objects - filtering by string from all properties of the object</li>
            </ul>

            <h3>
                <a id="3-customizable-scrollbar" class="anchor" href="#3-customizable-scrollbar"
                   aria-hidden="true"><span class="octicon octicon-link"></span></a>3. customizable scrollbar</h3>

            <ul>
                <li>custom scrollbar is used instead of native scrollbar of the browser</li>
                <li>scrollbar can be easily customised using the CSS</li>
                <li>scrollbar is looking similar in all browsers</li>
            </ul>

            <h2>
                <a id="demo" class="anchor" href="#demo" aria-hidden="true"><span
                        class="octicon octicon-link"></span></a>Demo</h2>


            <p>The vsscrollbar list below contains 100 000 items. Items are JSON objects. Example of the item: {id: 1,
                code: 'VT', name: 'Item #2'}.</p>

            <table id="filtergroup">
                <tr>
                    <td>
                        <input id="filterinput" type="text" placeholder="Type filter and wait one second..."
                               ng-model="filterText" ng-model-options="{ debounce: 1000 }">
                    </td>
                    <td id="filtermatch">
                        <div>Item count: {{filteredItemCount}}</div>
                    </td>
                </tr>
            </table>

            <vsscrollbar items="allItems" items-in-page="5"
                         on-scroll-change-fn="onScrollChange(topIndex, maxIndex, topPos, maxPos, filteredPageCount, filteredItemCount, visibleItems)">
                <div id="item" ng-repeat="item in visibleItems track by $index">
                    <div id="itemtext">
                        <div id="col">{{item.id}}</div>
                        <div id="col">{{item.code}}</div>
                        <div id="col">{{item.name}}</div>
                    </div>
                </div>
            </vsscrollbar>

            <br/>

            <p><a href="http://embed.plnkr.co/dOng41/preview">Here</a> are more demos.</p>

        </section>

        <aside id="sidebar">
            <a href="https://github.com/kekeh/vsscrollbar/zipball/master" class="button">
                <small>Download</small>
                .zip file
            </a>
            <a href="https://github.com/kekeh/vsscrollbar/tarball/master" class="button">
                <small>Download</small>
                .tar.gz file
            </a>

            <p class="repo-owner"><a href="https://github.com/kekeh/vsscrollbar"></a> is maintained by <a
                    href="https://github.com/kekeh">kekeh</a>.</p>

            <p>This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the Architect theme
                by <a href="https://twitter.com/jasonlong">Jason Long</a>.</p>
        </aside>
    </div>
</div>


</body>
</html>
