#item {
    border: 1px solid #BCE8F1;
    height: 25px;
    margin-bottom: 1px;
    border-radius: 2px;
    background-color: #FAFAFA;
    color: #3A87AD;
    font-size: 0.8em;
    padding-left: 2px;
    cursor: pointer;
}

#item:last-child {
    margin-bottom: 0px;
}

#item:hover {
    background-color: lightgreen;
    color: darkblue;
}

#itemtext {
    line-height:25px;
}

#col {
    display: inline-block;
    width: 33.3%;
}

#filtergroup {
    border: 1px solid #CCC;
    margin-bottom: 4px;
    width: 100%;
    background-color: #FAFAFA;
    border-radius: 2px;
    border-collapse: separate;
}

#filterinput {
    border: none;
    background-color: transparent;
    padding-left: 8px;
    height: 28px;
    width: 100%;
    font-size: 0.8em;
    outline: 0;
    vertical-align: middle;
}

#filtermatch {
    border: none;
    background-color: inherit;
    width: 1px;
    white-space: nowrap;
    padding-right: 4px;
    font-size: 0.8em;
}

#filtermatch div {
    padding: 0px 2px 0px 2px;
    background-color: inherit;
    color: #AAA;
    text-align: right;
    vertical-align: middle;
}

mark {
    background-color: #EDED00;
}